@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
  /* // border: 1px red solid; */
}

html {
  width: 100vw;
  min-height: 100vh;
}

.form {
  width: 350px;
  height: 300px;
  padding: 30px;
  border: 1px solid rgb(171, 164, 164);
  border-radius: 5px;
  box-shadow: 0 0 1px;
}
